{
  "discord_info": {
    "DISCORD_CLIENT_ID": "",
    "DISCORD_CLIENT_SECRET": "",
    "DISCORD_REDIRECT_URI": "",
    "DISCORD_BOT_TOKEN": ""
  },
  "environment": "development",
  "secret_key": "",
  "allowed_user_ids": [],
  "port": 8000
}
